<%
  let tags = page.tags.data;
  for (let i = 0; i < tags.length; i++) {
    let url = tags[i].permalink;
    let name = tags[i].name;
    let count = tags[i].length;
%>
  <div><a href="<%= url %>"><%= name %>(<%= count %>)</a></div>
<%
  }
%>