.content {
  font-size: 18px;
}
.code-block-wrap {
  border-radius: 15px;
  background-color: var(--secondary-color);
  max-height: 600px;
  overflow-y: auto;
  width: inherit;
}
.code-block {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.gults {
  flex-shrink: 0;
  font-family: monospace;
  padding: 0.5em;
  text-align: right;
  user-select: none;
  background-color: #495465;
  color: #EEE;
}
.codes {
  flex-grow: 1;
}
.codes > pre {
  display: grid;
  display: -ms-grid;
  margin: 0;
}
.codes code {
  padding-right: 2em;
}

:not(pre) > code {
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 3px;
}

a,
a:visited,
a:active {
  color: var(--main-1);
  text-decoration: none;
}
.post a {
  transition: border .3s ease-out, filter .3s ease-out;
}
.post a:hover,
.post a:focus {
  filter: brightness(1.2);
}
.post a:not(.headerlink) {
  border-bottom: 1px var(--main-4) solid;
  padding: 0 5px;
}
.post a:not(.headerlink):focus {
  border-bottom: 2px var(--text-color) solid;
}
.post a:not(.headerlink):hover {
  border-bottom-color: var(--main-1);
}

.hx-move {
  position: relative;
}
.hx-anchor {
  top: -60px;
  position: absolute;
}
.headerlink::before {
  content: "§";
  font-size: 24px;
  margin-left: -16px;
  margin-right: 4px;
  padding: 2px 5px;
  border-radius: 10px;
}
.headerlink:focus::before {
  background-color: var(--main-1);
  color: var(--text-color);
}

@media screen and (max-width: 650px) {
  :not(pre) > code {
    padding: 0 2px;
  }
  .headerlink::before {
    font-size: 18px;
  }
}