header {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px #8883;
  z-index: 1;
}
.blur-enabled header {
  background-color: var(--fixed-color);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.nav {
  padding: 5px;
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.nav::after {
  content: "";
  clear: both;
  display: block;
}
.nav-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}
.nav-avatar > img {
  width: inherit;
}
.nav-links {
  float: left;
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 9px 0;
  padding-right: 10px;
}
.nav-links a {
  display: block;
  text-decoration: none;
  color: var(--main-1);
  padding: 6px 10px;
  line-height: 20px;
  border-radius: 10px;
  transition: background-color .3s ease-out, box-shadow .3s ease-out;
  font-weight: bold;
}
.nav-links > * {
  margin-left: 10px;
  flex-shrink: 0;
}
.nav-links > div {
  display: flex;
  flex-direction: row;
}
.nav-links a:focus {
  box-shadow: 0 0 0 2px var(--text-2);
}
.nav-links a:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px var(--shadow-color);
}
.nav-links a.link-active {
  font-weight: normal;
  background-color: var(--main-1) !important;
  color: var(--bg-color);
}
.nav-flex {
  margin-left: -10px;
  width: 20px;
}
.nav-select {
  background-color: var(--main-1);
  padding: 6px;
  padding-left: 5px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 9px;
  transition: width .3s ease-out;
  position: absolute;
}
.nav-select:hover {
  width: var(--w);
}
.nav-select > select {
  line-height: 20px;
  height: 20px;
  border: none;
  background-color: var(--main-1);
  box-shadow: 0 0 3px #03b6;
  border-radius: 5px;
  color: var(--bg-color);
}
#month-select {
  margin-left: 5px;
}
.nav-select > select:focus {
  outline: none;
  filter: brightness(.9);
}
.nav-select > select::after {
  content: "";
  display: block;
  width: 2px;
  border: 1px solid;
  border-color: var(--text-color) var(--text-color) transparent transparent;
  transform: rotate(45deg);
}
#nav-collapse {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  float: right;
  border: none;
  border-radius: 10px;
  padding: 0;
  background-color: transparent;
  transition: background-color .3s ease-out;
}
#nav-collapse:hover {
  background-color: var(--main-4);
}
#nav-collapse > div {
  position: absolute;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--main-1);
  left: 9px;
  transition: transform .3s ease-in-out;
}
#nav-collapse.active > div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
#nav-collapse.active > div:nth-child(2) {
  transform: scale(0);
}
#nav-collapse.active > div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.container {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  padding-top: 105px;
  justify-content: center;
}
.page {
  border-radius: 20px;
  box-shadow: 0 0 6px var(--shadow-color);
  background-color: var(--primary-color);
  flex-grow: 0;
  flex-shrink: 0;
  width: 800px;
}
.content {
  padding: 10px 20px;
}
.left-void {
  width: 250px;
  min-width: 200px;
  flex-shrink: 1;
  margin-right: 10px;
}
#widgets {
  max-width: 250px;
  min-width: 200px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
.page-image {
  width: 100%;
  -webkit-mask-image: linear-gradient(to top, #FFF1, #FFF 50px);
  mask-image: linear-gradient(to top, #FFF1, #FFF 50px);
  margin-bottom: -50px;
  border-radius: 20px 20px 0 0;
}
/* heading */
heading {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 40px;
  line-height: 1em;
  display: block;
  color: var(--main-0);
}
.title-box {
  margin-top: 20px;
  margin-left: -10px;
  padding: 5px 20px;
  background-color: var(--main-4);
  border-radius: 5px 10px 10px 0;
  box-shadow: 2px 0 2px #8882;
  width: 520px;
  position: relative;
}
.not-post {
  width: 260px;
}
.title-box::before,
.title-box::after {
  content: "";
  display: block;
  border-style: solid;
  position: absolute;
}
.title-box::before {
  border-width: 3px 5px;
  border-color: var(--main-4) var(--main-4) transparent transparent;
  bottom: -6px;
  left: 0;
}
.title-box::after {
  border-width: 2px 4px;
  border-color: var(--main-3) var(--main-3) transparent transparent;
  bottom: -4px;
  left: 2px;
}
.page-dates {
  font-size: 14px;
  color: var(--main-1);
}
#inner-nav {
  float: none;
}

.post-block {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 160px;
}
.post-image,
.post-default {
  width: 30%;
  height: 100%;
  border-radius: 8px;
  margin-right: 5px;
  box-shadow: 0 0 4px var(--shadow-color);
}
.post-image {
  background-size: cover;
  background-position: center;
}
.post-default {
  background-image: linear-gradient(to top right, var(--vice-3), var(--vice-4) 100%);
  position: relative;
}
.post-default::after {
  content: "博客";
  display: block;
  position: absolute;
  font-size: 50px;
  color: var(--vice-2);
  width: 100%;
  text-align: center;
  line-height: 160px;
}
.post-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.post-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  margin: 10px 0;
}
.post-title > a {
  color: var(--main-1);
  text-decoration: none;
}
.post-title > a:hover {
  color: var(--main-0);
  text-decoration: underline;
}
.post-brief {
  flex-grow: 1;
  overflow: hidden;
  color: var(--text-2);
  -webkit-mask-image: linear-gradient(to top, transparent 0%,white 30%);
  mask-image: linear-gradient(to top, transparent 0%,white 30%);
  margin-bottom: 5px;
}
.post-time {
  height: 0;
  position: relative;
}
.post-time-block {
  margin-top: -40px;
  line-height: 26px;
  position: absolute;
  right: 0;
  background-color: var(--secondary-color);
  color: var(--main-0);
  padding: 2px 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px #0003;
}
.blur-enabled .post-time-block {
  background-color: var(--secondary-color-t);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.fixed-right {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--secondary-color);
  margin: 10px;
  display: block;
}
.blur-enabled .icon-btn {
  background-color: var(--secondary-color-t);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.icon-btn > svg {
  fill: var(--text-2);
}
#to-top-btn.to-top > svg {
  animation: to-top .3s ease-in-out;
}
@keyframes to-top {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

button {
  border: none;
  cursor: pointer;
  transition: filter .3s ease-out;
}
button:hover {
  filter: brightness(var(--hover));
}
button:focus {
  box-shadow: 0 0 0 1px var(--text-2);
}
a:focus,
button:focus,
input:focus {
  outline: none;
}
@media screen and (max-width: 1240px) {
  .left-void {
    min-width: 0;
  }
  .left-void,
  #widgets {
    max-width: 200px;
  }
}
@media screen and (max-width: 1040px) {
  .nav {
    width: auto;
    margin: 0 25px;
  }
  .page {
    flex-shrink: 1;
  }
  .left-void {
    max-width: 0;
  }
  .title-box {
    width: 400px;
  }
  .not-post {
    width: 200px;
  }
  heading {
    font-size: 32px;
  }
}
@media screen and (max-width: 850px) {
  #widgets {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: var(--fixed-color);
    padding-top: 80px;
    box-sizing: border-box;
    max-width: 0;
    min-width: 0;
    transition: max-width .3s ease-out;
    overflow: hidden;
  }
  #widgets > div {
    position: initial;
    width: 220px;
    margin: 10px;
  }
  .blur-enabled #widgets {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    margin: 0;
    padding-top: 60px;
  }
  .nav {
    margin-left: 10px;
    margin-right: 0;
  }
  .page {
    border-radius: 0;
    box-shadow: none;
  }
  .page-image {
    border-radius: 0;
  }
  .title-box {
    width: 360px;
  }
  .not-post {
    width: 200px;
  }
  .nav-links {
    padding-right: 5px;
  }
  .nav-links > * {
    margin-left: 5px;
  }
  .post-title {
    font-size: 20px;
  }
  .post-brief {
    font-size: 14px;
  }
  .post-block {
    height: 110px;
    margin-bottom: 5px;
  }
  .post-default::after {
    line-height: 110px;
    font-size: 32px;
  }
  .post-title {
    margin: 5px;
  }
  .post-time-block {
    margin-top: -30px;
  }
  .content {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .nav-avatar {
    width: 40px;
    height: 40px;
  }
  .nav > .nav-links {
    width: 100%;
    flex-direction: column;
    top: 50px;
    left: 0;
    padding: 0;
    padding-left: 50px;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    transition: height .3s ease-out;
  }
  .nav > .nav-links > * {
    margin-left: 0;
    margin-bottom: 5px;
  }
  .nav > .nav-links a {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
  }
  .nav-select {
    position: relative;
    width: var(--w);
  }
  #nav-collapse {
    display: block;
  }
  .container {
    padding-top: 50px;
  }
  heading {
    font-size: 28px;
  }
  .title-box {
    width: 90%;
  }
  .not-post {
    width: 50%;
  }
  .post-image,
  .post-default {
    background-image: none;
    width: 0px;
  }
  .post-default::after {
    display: none;
  }
  .post-text {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .post-image,
  .page-image {
    filter: brightness(.8);
  }
}