<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% var title = page.title;
    if (!title)
      for (let t in theme.menu)
        if (theme.menu[t].url == '/' + page.path.slice(0, -10)) {
          title = t;
          break;
        }
  %> 
  <title><%= config.title %> - <%= title %></title>
  <% if (theme.avatar) { %>
    <link rel="icon" href="<%= theme.avatar %>">
  <% } %>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous" async></script>
  <script src="/js/page.js" async></script>
  <script src="/js/widgets.js" async></script>
  <% if (page.title) { %>
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.3.2/highlight.min.js" async></script>
  <link rel="stylesheet" href="/css/nord-hljs.css" />
  <% } %>
</head>
