<div class="widget-outline" title="文章目录">
  <%
    var raw = page.raw.split('\n').map(line => line.trimStart());
    var min = 0, now = [];
    for (let i = 0; i < raw.length; i++) {
      if (raw[i][0] != '#') continue;
      let level = raw[i].match(/^[\#]*/)[0].length;
      if (raw[i][level] != ' ') continue;
      let value = raw[i].substr(level + 1, raw[i].length);
      if (min == 0) min = level;
      level -= min;
      if (now.length > level + 1) {
        while (now.length > level + 1) {
          now.pop();
        %></div><%
        }
        now[level]++;
      }
      else {
        if (now.length <= level) {
          while (now.length <= level) {
            now.push(1);
            if (now.length != 1) {
            %><div class="outline-align"><%
            }
          }
        }
        else
          now[level]++;
      }
  %>
  <div class="outline">
    <div><%= now.join('.') %></div>
    <a href="#<%= value %>" title="进入章节：<%= value %>"><%= value %></a>
  </div>
  <%
    }
    while (now.length > 1) {
      now.pop();
    %></div><%
    }
  %>
</div>